flask
flask-bcrypt
flask-jwt-extended
flask-cors
flask-mail
flask-pymongo
mongoengine
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
beautifulsoup4
gunicorn
pytz
authlib
numpy==1.24.4
opencv-python-headless==4.7.0.72
mediapipe
pandas
scikit-learn
pillow
joblib
