flask
flask-bcrypt
flask-jwt-extended
flask-cors
flask-mail
flask-pymongo
mongoengine
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
beautifulsoup4
gunicorn
pytz
authlib
opencv-python
mediapipe
numpy
pandas
scikit-learn
pillow
joblib
